<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/register']">Need an account?</a>
        </p>
        <mc-backend-errors
          *ngIf="backendErrors$ | async"
          [BackendErrors]="backendErrors$ | async"
        ></mc-backend-errors>
        <form (submit)="onSubmit()" [formGroup]="form">
          <fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                formControlName="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </fieldset>
            <button
              type="submit"
              class="btn btn-primary btn-lg pull-xs-right"
              [disabled]="isSubmitting$ | async"
            >
              Sign In
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
